*{
   color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


body {
    background-color: rgb(20, 20, 62);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}


.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
  
}
.container_header{
    width: 80%;
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
  
}
.contact_email{
    width: 90%;
    height: 6vh;
    margin: auto;
    margin-top: 0px;
    background-color: rgba(219, 216, 216, 0.898);
 
}
nav{
    margin-top: 35px;
}
.contact_email{
    display: flex;
    justify-content: space-evenly;
}
.contact_email .details ul{
    display: flex;
    list-style: none;

}
 
.contact_email .details ul li{ 
    padding: 5px;
    color: black;
}

.contact_email .social ul{
    display: flex;
    list-style: none;
}
.contact_email .social ul li{
    padding: 5px;
}

header {
    background: #333333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}
 
header .logo img{
    font-size: 1.5rem;
    font-weight: bold;
    width: 120px;
}

header nav ul {
  
    list-style: none;
    padding: 0;
    margin-left: 410px;
   
}

header nav ul li {
    display: inline;
    margin-left: 1rem;
}

header nav ul li a {
   padding: 15px;
   
   border-radius: 12px;
    color: #fff;
    text-decoration: none;
}
header nav ul li a:hover{
    color: pink;
   font-size: 19px;
   transition: 0.5s;
}
.hero {
    background-image: url('') no-repeat center center/cover;
    color: #fff;
    text-align: center;
    padding: 4rem 0;
    height: 100vh;
}

/* animation */

.hero{
    /* position: absolute; */
    left: 0;
    top: 0;
    width: 100%;
    height: 70vh;
    animation: animate infinite 16s ease-in-out;
    background-size: cover;
    
    }
 
    @keyframes animate{
        0%,100%{
            background-image: url('https://images.unsplash.com/photo-1691157915037-68576ba139b1?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwzfHx8ZW58MHx8fHx8');
            filter: brightness(0.89);
        }
        25%{
            background-image: url('https://images.unsplash.com/photo-1720048171419-b515a96a73b8?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwxMXx8fGVufDB8fHx8fA%3D%3D');
        }
        50%{
            background-image: url('https://images.unsplash.com/photo-1721804978753-6533263d89f5?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwzOHx8fGVufDB8fHx8fA%3D%3D');
        }
        75%{
            background-image: url('https://images.unsplash.com/photo-1721778775422-8cf9894040a9?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHw0NXx8fGVufDB8fHx8fA%3D%3D');

        }
    }

@-webkit-keyframes slide_animation{
    0%{
        left: 0px;
    }
    10%{
        left: 0px;
    }
    20%{
        left: 1200px;
    }
    30%{
        left: 1200px;
    }
    40%{
        left: 1400px;
    }
    50%{
        left: 1400px;
    }
    60%{
        left: 1200px;
    }
    70%{
        left: 1200px;
    }
    80%{
        left: 0px;
    }
    90%{
        left: 0px;
    }
    100%{
        left: 0px;
    }
    
}
.Event_portfolieo .background .images{
    overflow: hidden;
    position: relative;
    -webkit-animation-name: slide_animation ;
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
}
.Event_portfolieo .background .img{
    position: relative;
}






.hero-content {
    max-width: 600px;
    margin: auto;
    position: absolute;
    top: 200px;
    left: 50px;
}
.hero-content h1{
    font-size: 50px;
   
}

.hero .btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background: #ff5733;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}
.hero2 {
    height: 90vh;
 
    
}
.hero2 h2{
    text-align: center;
    width: 70%;
    margin: auto;
    margin-top: 20px;
}
.hero2 .holder .img{
    padding: 30px;
    color: white;
    width: 752px;
    height: 40vh;
    position: relative;
    background-color: black;
    box-shadow: #f4f4f4;
    margin-top: 90px;
   
}
.hero2 .holder {
    display: flex;
    justify-content: space-around;
}
.hero2 .holder .video video{
    position: absolute;
    left: 720px;
    top: 1169px;
    width: 650px;
    height: 45vh;
    box-shadow: 120px solid black;

}
.hero2 .holder .img a{
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background: #ff5733;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}
.hero2 .holder .img p, span {
    text-align: left;
}


.hero3 .our h2, p{
    text-align: center;
    margin-bottom: 20px;
}
.hero3 .our{
    width: 80%;
    margin: auto;
}

.Event_portfolieo .background{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background-color: black;
  
}
.Event_portfolieo .background  h2{
    text-align: center;
    color: white;
}
.Event_portfolieo .background .images{
    display: flex;
    justify-content: center;

  
}
.Event_portfolieo .background .images{
    width: 100%;
    height: 90vh;
}


.hero3 .highlight-cards .card a{
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background: #ff5733;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

section.highlights {
    padding: 2em 1em;
    background: #f9f9f9;
}

.highlights h2 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 1em;
}

.highlight-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#service .highlight-cards .card a {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background: #ff5733;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.card {
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 1em;
    overflow: hidden;
    max-width: 300px;
    text-align: center;
    
}

.card img {
    width: 100%;
    height:40%;
}

.card h3 {
    font-size: 1.5em;
    margin: 0.5em 0;
    color: black;
}

.card p {
    padding: 0 1em 1em;
    color: black;
}

.services, .about-us, .contact {
    padding: 2rem 0;
    text-align: center;
    
}
#service h2{
    color: black;
}
.service-list .service h3{
    color: black;
}
.service-list .service p{
    color: black;
}

.service-list {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.service {
    background: #f4f4f4;
    padding: 1rem;
    border-radius: 5px;
    flex: 1;
    max-width: 200px;
    margin: 0.5rem;
}

/* 
.contact form {
    
    width: 60%;
    margin: auto;
    
} */
.contact .container {
    display: flex;
    justify-content: center;
     
   
}

.contact .container form{
    width: 50%;
    background-color: black;
    color: wheat;
 
}
.contact .container form .names{
  display: block;
  padding:1.5rem ;
}
 

.contact .container form .names .spaces{
    display: flex;
    justify-content: space-around;
    margin-top: 0.5rem;
}
.contact .container form .names .spaces input{
    width: 39%;
   height: 30px;
}
.contact .container form .names .spaces input::placeholder{
    text-align: center;
}
.contact label {
    margin-top: 0.5rem;
}
.contact textarea {
    width: 82%;
    height: 30vh;
    margin-left: 7px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    resize: none;
}

.contact .container form .btn{
    padding: 0.5rem;
    background: #ff5733;
    color: #fff;
    border: none;
    border-radius: 5px; 
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: left;
    margin-left: 55px;

}



/* .contact input, .contact textarea {
    padding: 0.5rem;
    margin-top: 0.2rem;
} */ */
.contact form .formdetails {
    display: flex;
    flex-direction: column;
}
 


footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    display: flex;
}
footer .container{
    display: flex;
    justify-content: space-between;
}
footer .social ul{
    display: flex;
    list-style: none;
}
footer .details ul {
    list-style: none;
    display: flex;
}

@media (max-width: 768px) {
    header .contact_email{
        display: none;
    }
    header .container_header{
        width: 100%;
        display: flex;
        flex-direction: row;
        max-height: 40vh;
        overflow: hidden;

    }
    header .container_header .logo{
        width: 190px;
    }
    header .container_header .logo img{
        width: 50%;
    }
    #navigation{
        display: block;
        position:relative;
        right: 80%;
        width: 100%;
        
        
    }
     #navigation ul{
        width: 100%;
        display: block;
       
    }
    #navigation ul li{
        width: 100%;
        display: flex;
       justify-content: center;
       padding-right: 30px;
       
        

    }
    #navigation ul li a{
       
        width: 100%;
        padding: 10px;
        padding-right: 70px;
        text-align: center;
       
    }
    header .container_header #navigation ul li a:hover{
         font-size: 20px;
         transition: 0.5s;
    }
    header .container_header .buttonnav{
        position: absolute;
        left: 86%;
        width: 40px;
        height: 29px;
        padding: 3px;
        margin-top: 11px;
        margin-right: 19px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    header .container_header .buttonnav .line{
       border: 2px solid white;
       border-radius: 2px;
        width: 90%;
    }
    .Event_portfolieo .background{
        width: 100%;
        height: 69vh;
    }
.Event_portfolieo .background .images{
    width: 90%;
    height: 57vh;
    margin-left: 28px;

}
.contact .container form .names .spaces input:focus{
    outline: none;
}

.formdetails{
    display: none;
}
 
.contact .container textarea{
    width: 75%;
    padding: 15px;
    
}
.contact .container textarea:focus{
     outline: none;
}

    .hero {
        height: 40vh;
        position: relative;
    }
      
    .hero  .hero-content{
        position: absolute;
        text-align: center;
        top: 121px;
        left: 9px;
        /* filter: brightness(0.5); */
    }
    .hero2 h2{
        font-size: 23px;
        width: 80%;
        margin: auto;
        padding-top: 10px;  
    }
    #hero2 .holder .img {
        width: 100%;
        height: 87vh;
        margin-top: 38px;
        
    }
     
    .hero2{
        margin-bottom: 250px;
    }
    .hero2 .holder{
        margin-top: 1px;
    }

    .hero2 .holder .video video{
        top: 470px;
        left: 27px;
        width: 90%;
        height: 260px;
        position: absolute;
    }
    .hero2 .holder{
        position: relative;
    }

    .hero3 .our p {
        text-align: center;
    }
 

    .highlight-cards .card{
        width: 100%;
    }
    .hero3 .our p {
        font-size: 18px;
        width: 90%;
        margin: auto;
        padding-top: 10px;  
    }
  


    .contact_email, .container_header {
        flex-direction: row;
        align-items: space-around;
    }

    .contact_email ul, .social ul, nav ul {
        flex-direction: row;
        gap: 5px;
    }

    nav ul {
        width: 100%;
        text-align: center;
    }

    nav ul li {
        width: 100%;
    }

    .hero-content h1 {
        font-size: 2rem;
    }

    .hero-content p {
        font-size: 1rem;
    }

    .highlight-cards .card {
        padding: 10px;
    }
    .contact .container form{
        width: 100%;
    }

    .contact .container{
        width: 100%;
        
    }

    footer{
        width: 100%;
        height: 27vh;
    }
    footer .fcontainer .ffcontainer{
        display: flex;
    }
    footer .fcontainer .ffcontainer ul{
        list-style: none;

    }
    footer .fcontainer .ffcontainer ul li{
        padding-left:2px;
        display: flex;
    }
    footer .fcontainer .ffcontainer ul li img{
        margin-right: 9px;
    }

    footer .fcontainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    footer .fcontainer p{
        display: flex;
        text-align: center;
        margin-left: 65px;
    }


}

@media (max-width: 1520px) {

.hero .hero-content{
    left: 15%;
}
#navigation{
    display: block;
    position:relative;
    right: 80%;
    width: 100%;
    
    
}
 #navigation ul{
    width: 100%;
    display: block;
   
}
#navigation ul li{
    width: 100%;
    display: flex;
   justify-content: center;
   padding-right: 30px;
   
    

}
#navigation ul li a{
   
    width: 100%;
    padding: 10px;
    padding-right: 70px;
    text-align: center;
   
}
header .container_header #navigation ul li a:hover{
     font-size: 20px;
     transition: 0.5s;
}
header .container_header .buttonnav{
    position: absolute;
    left: 86%;
    width: 40px;
    height: 29px;
    padding: 3px;
    margin-top: 11px;
    margin-right: 19px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header .container_header .buttonnav .line{
   border: 2px solid white;
   border-radius: 2px;
    width: 90%;
}

.hero2 h2{
    font-size: 23px;
    width: 80%;
    margin: auto;
    padding-top: 10px;  
}
#hero2 .holder .img {
    width: 100%;
    height: 87vh;
    margin-top: 38px;
    
}
 
.hero2{
    margin-bottom: 250px;
}
.hero2 .holder{
    margin-top: 1px;
}

.hero2 .holder .video video{
    top: 470px;
    left: 27px;
    width: 90%;
    height: 260px;
    position: absolute;
}
.hero2 .holder{
    position: relative;
}

.Event_portfolieo .background{
    width: 100%;
    height: 69vh;
}
.Event_portfolieo .background .images{
width: 90%;
height: 57vh;
margin-left: 28px;

}



    
}




